*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    /* outline: red 1px solid; */
    
}

main, nav{
    background-color: #1f2937;
    padding: 0 150px;
}


nav{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
    gap: 16px;
}

a, .subtext{
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    color: #e5e7eb;
}

h2, .title {
    color: #f9faf8;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
}
.btn, .signup_btn{
    background-color: #3882f6;
    font-weight: 500;
    padding: 8px 28px;
    font-size: 16px;
    border: none;
    color: #f9faf8;
    border-radius: 5px;
}

.left_1, .rigth_1, .img{
    width: 450px;
    height: 218px;
}

.title, .subtext{
    padding-right: 20px;
    margin-bottom: 20px;
}
.title{
    padding-right: 100px;
}

#section_1{
    padding: 0 150px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    
}

.title_1{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    /* margin: 50px 0; */
}

.cards_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 50px; */
}

.card{
    margin: auto;
    text-align: center;
    width: 180px;
}

.card_img{
    width: 180px;
    height: 180px;
    border: 4px #3882f6 solid;
    border-radius: 15px;
    margin-bottom: 5px;
}

#section_2{
    padding: 0 260px;
    height: 350px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    color: #1f2937;
}
.quote{
    font-size: 36px;
    
    font-style: italic;
    font-weight: lighter;
}
.quote_credit{
    font-size: 26px;
    text-align: end;
    font-weight: 600;
}

#section_3{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup_container{
    background-color: #3882f6;
    width: 70%;
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f9faf8;
    border-radius: 10px;
}

.signup_btn{
    border: 2px solid #f9faf8;
    padding: 5px 35px;
}

